<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
  <div class="container-fluid">
    <!-- Botón de menú responsive -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú de navegación y contenido -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/inicio/pantalla-qr', selectedOption]"
            routerLinkActive="active"
            >Generar QR</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="'/inicio/asistentes'"
            routerLinkActive="active"
            >Asistentes</a
          >
        </li>
        <li class="nav-item ms-3">
          <!-- Selector de Bootstrap -->
          <select
            class="form-select"
            [(ngModel)]="selectedOption"
            id="cursoSelector"
            (change)="actualizarCurso()" 
          >
            <option *ngFor="let curso of cursos" [value]="curso.codigoCurso">
              {{ curso.nombreCurso }}
            </option>
          </select>
        </li>
      </ul>

      <!-- Botón de logout -->
      <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>
