.qr-code-image {
    max-width: 100%;
    height: auto;
    width: 300px; /* Ajusta este tamaño si es necesario */
  }
  
  .mat-card {
    border-radius: 12px;
  }
  
  .mat-card-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .text-muted {
    font-size: 14px;
    color: #6c757d;
  }
  
  .shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  }
  