<div class="container h-100 d-flex justify-content-center align-items-center">
  <div class="row justify-content-center w-100">
    <div class="col-md-6 col-lg-4">
      <mat-card class="p-4 shadow-lg border-0">
        <mat-card-header class="text-center">
          <mat-card-title class="mb-4 fs-4 fw-bold">Inicio de Sesión</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="formLogin" (ngSubmit)="loginUser(formLogin)">
            <!-- Campo de Número de Documento -->
            <div class="mb-3">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Número de Documento</mat-label>
                <input matInput placeholder="Ingresa tu número de documento" formControlName="numeroDocumento">
                <mat-error *ngFor="let errorMessage of errorHandlerService.getErrorMessages(formLogin, 'numeroDocumento')">
                  {{ errorMessage }}
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Campo de Contraseña -->
            <div class="mb-3">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Contraseña</mat-label>
                <input matInput placeholder="Ingresa tu contraseña" formControlName="password" [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="hide">
                  <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngFor="let errorMessage of errorHandlerService.getErrorMessages(formLogin, 'password')">
                  {{ errorMessage }}
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Botón de Iniciar Sesión -->
            <div class="d-grid gap-2 mt-4">
              <button type="submit" mat-raised-button color="primary" class="w-100 py-2">Iniciar Sesión</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
