<div class="container h-100 d-flex justify-content-center align-items-center">
    <div class="row justify-content-center w-100">
      <div class="col-md-6 col-lg-4">
        <mat-card class="p-4 shadow">
          <mat-card-header>
            <mat-card-title class="mb-4 text-center">Login</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form [formGroup]="formLogin">
              <!-- Campo de Correo Electrónico -->
              <div class="mb-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Numero Documento</mat-label>
                  <input matInput placeholder="Ingresa tu numero de documento" formControlName="numeroDocumento">
                  <mat-error *ngFor="let errorMessage of errorHandlerService.getErrorMessages(formLogin, 'numeroDocumento')">
                    {{ errorMessage }}
                  </mat-error>
                </mat-form-field>
              </div>
  
              <!-- Campo de Contraseña -->
              <div class="mb-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Contraseña</mat-label>
                  <input matInput placeholder="Ingresa tu contraseña" formControlName="password" [type]="hide ? 'password' : 'text'">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                  </button>
                  <mat-error *ngFor="let errorMessage of errorHandlerService.getErrorMessages(formLogin, 'password')">
                    {{ errorMessage }}
                  </mat-error>
                </mat-form-field>
              </div>
  
              <!-- Botón de Iniciar Sesión -->
              <button type="submit" mat-raised-button color="primary" class="w-100 mt-3" (click)="loginUser(formLogin)">Iniciar Sesión</button>
            </form>
  
            <!-- Apartado para redirigir a la página de registro -->
            <div class="text-center mt-4">
              <span>¿No tienes una cuenta?</span>
              <a (click)="onRegisterUser()" class="text-primary">Regístrate aquí</a>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>