<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="col-md-6">
    <div class="qr-code-container" *ngIf="qrCodeImage">
      <mat-card>
        <mat-card-content class="d-flex justify-content-center">
          <img [src]="qrCodeImage" alt="QR Code" class="qr-code-image">
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-center">
          <button mat-raised-button color="primary" (click)="downloadQRCode()">
            <mat-icon>download</mat-icon>
            Download QR Code
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
